.booking-widget{
	position: absolute;
	opacity: 0.90;
	top: -85px;
    width: 100%;
    left: calc(19.55% - 0px);
}.booking-widget > .box{
	background-color: #FFF;
	padding: 8px;
	width: 60.9%;
	box-shadow: none;
	-webkit-box-shadow: 0px 1px 10px 0px #3C3C3C;
	-moz-box-shadow: 0px 1px 10px 0px #3C3C3C;
	position:relative;
}

.destinasi-search, .size13 .form-control{float:left ;width:360px ; padding:10px;}
.checkin-search{float:left;width:154px; padding:10px;}
.checkout-search{float:left;width:154px;padding:10px;}
.room-search, .size13 .form-control{float:left;width:80px;padding:10px;}
.person-search{float:left;width:80px; padding:10px;}
.promo-search{float:left;width:140px; padding:10px;}

.height-leftright{height:350px;}

.item {
    height: 450px;
    overflow: hidden;
}

.carousel { background: #000000; }
.carousel-fade .carousel-inner .item {
  opacity: 0.2;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

}
.carousel-fade .carousel-inner .active {
  opacity: 5;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control {
  width: 8%;
  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}

.carousel-control.left:hover {
  background-color: rgba(0, 0, 0, 0.2);
background-repeat: repeat-x;
}
.carousel-control.right:hover {
  right: 0;
  left: auto;
  background-color: rgba(0, 0, 0, 0.2);
   background-repeat: repeat-x;
}

.glyphicon { display:none }
.colFFF{
	background-color:#ffffff;
}

.moto {
    max-height: none;
}

.navbar-default {
    height: 90px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.sliderbg2 {
    background: #2d2d2d url("../../images/bg-sofyan.jpg") no-repeat scroll center -50px;
    }
	
.lastminute4 {
    background: none;
}
	
.ctup {
    margin-top: 515px;
}

.carousel-caption{
	display:none;
}

.form-control .mySelectCalendar .dpd2 .go-text-left{
width:20%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   margin-top: 17px;
}

.row{
	height: 450px;
}
.row1{
	height: 250px;
}

.btn-block {
     width: 15%;
}

.slideup {
   top: -435px;
}
.label {
    margin-bottom: 0px !important;
}
.form-control {
    height: 44px;
}

.size13 {
    font-size: 14px;
	padding-bottom: 5px;
}

.btn-block {
	margin-top:8px;
}
.cstyle04{
	background-color:#FFF;
}
.lastminute4{
	padding-top: 65px;
}

.container{background-color:#fff;}
.tiltle-line{
	display: none;}
	
element {
    text-align: center;
}
.main-title{
   text-align: center;
}
.custom {
    width: 92% !important;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testimony-wrap-box{ width:33.3%;font-size:18px; font-weight:bold; padding:10px 10px; float:left;}
.testimony-title{padding-bottom:0px;}
.box-content{width:100%;}
.testimony-foto{width:23%; height:100px; padding-right:10px;float:left;}
.testimony-text-name{width:100%; font-size:14px; font-weight:bold; margin-top:20px;}
.testimony-text-content{font-weight:normal; font-size:12;}

.video-wrap-box{width:33.3%;font-size:18px; font-weight:bold; padding:10px 20px; float:left;}
.video-title{padding-bottom:15px;}

.video-description-title{font-size:14px; font-weight:bold; padding-top:30px;}
.video-description{font-size:12px; font-weight:normal;}

.news-wrap-box{ width:33.3%;font-size:18px; font-weight:bold; padding:10px 10px; float:left;}
.news-title{padding-bottom:0px;}
.box-content{width:100%;}
.news-foto{width:23%; height:100px; padding-right:10px;float:left;}
.news-text-name{width:100%; font-size:14px; font-weight:bold; margin-top:20px;}
.news-text-content{font-weight:normal; font-size:12;}

.new{padding-top: 10px;border-top-width: 1px;border-top-style: solid;}
.address-office"{font-weight:normal;}






@media only screen and   (min-width: 321px) and (max-width: 479px) 
{
.ctup{background:#fff; margin-top:525px; position:relative; z-index:100; display:block}
.slidercontainer {
    width: 100%;
    height: 446px;
    background: #FFF none repeat scroll 0% 0%;
    color: #666;
}
.visible-xs,.visible-md, .visible-lg {
    display: block !important;
	padding-top:200px !important;
}
}

 @media only screen  and (min-width: 480px)  and (max-width : 600px)     
{
.ctup{background:#fff; margin-top:525px; position:relative; z-index:100; display:block}
.slidercontainer {
    width: 100%;
    height: 446px;
    background: #FFF none repeat scroll 0% 0%;
    color: #666;
}
.visible-xs,.visible-md, .visible-lg {
    display: block !important;
	padding-top:200px !important;
}	

 }
 
  @media only screen and (min-width : 601px) and (max-width: 768px) 
{
.ctup{background:#fff; margin-top:525px; position:relative; z-index:100; display:block}
.slidercontainer {
    width: 100%;
    height: 446px;
    background: #FFF none repeat scroll 0% 0%;
    color: #666;
}	
.visible-xs, .visible-md, .visible-lg {
    display: block !important;
	padding-top:200px !important;
}
 }
  
 @media only screen and (min-width : 769px) and (max-width: 999px) 
  {
.ctup{background:#fff; margin-top:525px; position:relative; z-index:100; display:block}
.slidercontainer {
    width: 100%;
    height: 446px;
    background: #FFF none repeat scroll 0% 0%;
    color: #666;
}
.visible-xs,.visible-md, .visible-lg {
    display: block !important;
	padding-top:200px !important;
}

  }
  
   @media only screen  and (min-width: 768px)  and (max-width : 1024px)     
{
.ctup{background:#fff; margin-top:525px; position:relative; z-index:100; display:block}
.slidercontainer {
    width: 100%;
    height: 446px;
    background: #FFF none repeat scroll 0% 0%;
    color: #666;
}
.visible-xs,.visible-md, .visible-lg {
    display: block !important;
	}
.row {
    height: 372px;
}

.booking-widget {
    position: absolute;
    opacity: 0.9;
    top: -162px;
    width: 100%;
    left: calc(2.4% - 0px);
}
.booking-widget > .box {
    background-color: #FFF;
    padding: 8px;
    width: 95.2%;
    box-shadow: none;
    position: relative;
}

.destinasi-search, .size13 .form-control{float:left ;width:360px ; padding:10px;}
.checkin-search{float:left;width:154px; padding:10px;}
.checkout-search{float:left;width:154px;padding:10px;}
.room-search, .size13 .form-control{float:left;width:80px;padding:10px;}
.person-search{float:left;width:80px; padding:10px;}
.promo-search{float:left;width:140px; padding:10px;}
 }



  
   

  
